.modal-header {
  align-items: flex-start !important;
  justify-content: space-between !important;
}
.submit_btn {
  margin-left: 42%;
}
thead {
  background-color: #d8dbe0;
}
tr:hover {
  background-color: #eaedf1;
}
table {
  border: 1px solid #d8dbe0;
}
.greyDisable {
  background-color: #d8dbe0;
}
.orange {
  background-color: coral;
  color: white;
}
